.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-prim;
  @include mq(medium) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.appName-wrapper {
  display: flex;
  margin: 0 0 0 20px;
  padding: 0;
}

.notification {
  position: relative;
 display: inline-block;
}

.notification .dot {
  position: absolute;
  height: 4px;
  border-radius: 50%;
  background-color: #7fc57f;
  top: -2px;
  right: 0px;
  padding: 4px 4px;
  color: $white;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.profile-image {
  height: 35px;
  border-radius: 50%;
  margin-left: 10px;
}

.page-header {
  @include mq(medium) {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  background: $grey;
  @include mq(medium) {
    flex-grow: 9;
    justify-content: flex-end;
    border-left: 1px solid $dark-grey;
    border-bottom: 1px solid $dark-grey;
  }
}

.main-tab {
  color: $dark-grey;
  display: none;
  background: $white;
  padding: 15px;
  height: 100%;
  @include mq(medium) {
    display:  inline-block;
    align-self: center;
  }
}

.search {
  margin: 10px 0px 10px 0px;
  border: none;
  width: 75%;
  padding: 3px 0px 3px 5px;
  border-radius: 5px 0 0 5px;
  @include mq(medium) {
    max-width: 300px;
  }
}

.search-button {
  float: left;
    width: 35px;
    margin: 10px 0px;
    padding: 10px;
    background: $white;
    color: $color-prim;
    font-size: 17px;
    border-style: none;
    border-left: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    @include mq(medium) {
      margin: 10px 35px 10px 0;
    }
}

.alert-box {
  display: flex;
  justify-content: space-between;
  background: $color-prim;
  border-radius: 5px;
  width: 80%;
  color: $white;
  margin: 10px auto;
  font-size: 14px;
  padding: 0 10px;
  transition: all 1s;
}

.alert-button {
  background: none;
  border: none;
  color: $white;
  cursor: pointer;
}
