.side-nav {
  background: $color-sec;
  height: 100%;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8px;
  float: left;
}

.side-nav a {
  padding: 10px 0;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border {
  border-left: 2px solid $color-prim;
}

.nav-icon {
  opacity: .5;
  transition: all .2s ease-in-out;
}

.active,
.nav-icon:hover {
  opacity: 1;
  transform: scale(1.2);
}

.active {

}
