.side-nav {
  background: $color-sec;
  height: 100vh;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 8px;
  float: left;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  @include mq(medium) {
    width: 60px;
  }
}

.side-nav a {
  padding: 10px 0;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border {
  border-left: 2px solid $color-prim;
}

.nav-icon {
  height: 20px;
  opacity: .5;
  transition: all .2s ease-in-out;
  @include mq(medium) {
    height: 25px;
  }
}

.active,
.nav-icon:hover {
  opacity: 1;
  transform: scale(1.2);
}

.active {

}
